//--------Colors
    $c-White: #ffffff;
    $c-Black: #000000;
    $c-Spray: #84F0DF;
    $c-Java: #17C4A8;

//--------Fonts
    $f-SourceCodePro: 'Source Code Pro', monospace;
    $f-Inter: 'Inter', sans-serif;
    $f-Goldman: 'Goldman', cursive;